<!--follow cidm4385-2016sp-angular-services from github-->
<html ng-app="UnitConverter">
	<head>
		<title>Unit Converter</title>
	</head>
	<body>
		<h1>ConverterApp</h1>
		<div ng-controller="UnitConverterController as ucc">
			Metric Volume: <input type="text" ng-model="ucc.metVolumeValue" id="Volume_value" name="VALUE" placeholder="Enter amount" >
			<select ng-model="ucc.selected1_metric_volume_units" 
                    ng-options="unit.unit_name for unit in ucc.metric_volume_units" 
                    ng-change="ucc.showSelected1VolumeUnit()"></select>
			<div>
				<p>Selected Metric Volume unit is: <span ng-bind="ucc.selected1_metric_volume_units.unit_name"></span></p>
			</div>
                    
            Metric Length: <input type="text" ng-model="ucc.metLengthValue" id="Length_value" name="VALUE" placeholder="Enter amount" >
			<select ng-model="ucc.selected1_metric_length_units" 
                    ng-options="unit.unit_name for unit in ucc.metric_length_units" 
                    ng-change="ucc.showSelected1LengthUnit()"></select>
			<div>
				<p>Selected Metric Length unit is: <span ng-bind="ucc.selected1_metric_length_units.unit_name"></span></p>

			</div>
           
            Metric Weight: <input type="text" ng-model="ucc.metWeightValue" id="Weight_value" name="VALUE" placeholder="Enter amount" >
			<select ng-model="ucc.selected1_metric_weight_units" 
                    ng-options="unit.unit_name for unit in ucc.metric_weight_units" 
                    ng-change="ucc.showSelected1WeightUnit()"></select>
			<div>
				<p>Selected Weight unit is: <span ng-bind="ucc.selected1_metric_weight_units.unit_name"></span></p>
			</div>
		</div>
		
		<script src="angular.js"></script>
		<script src="app.js"></script>
	</body>
</html>
